@media all and (max-width: 1024px) {

	nav {
		align-items: center;
		font-size: small;

	}
	nav a {
		margin-left: 2%;
		margin-right: 2%;
		padding: 0.5em;
	}
	#accueil{
		width: 100%;
		display: flex;
		flex-direction: row;
	}

	#accueil #container #photo{
		margin-block: 0px;
		margin-inline: 0px;
	}

	#section_top,
	#section_bot {
		display: flex;
		flex-direction: column;
	}
	#section_top_right {
		padding-bottom: 50%;
	}
	#section_mid {
		display: flex;
		flex-direction: column-reverse;
	}
	#section_bot_right img{
		width: 100%;
	}
	#section_top_right img{
		width: 370%;
	}

}